.xps__list--wrapper {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    padding: 0 3rem;
  }
}

.dashboard--heading {

  @media screen and (min-width:768px) {
    display: flex;
    flex-direction: column;

  }
  h3 {
    opacity: 1;
    line-height: 1.45;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;

    @media screen and (min-width: 768px) {
      justify-content: initial;
    }
    img {
      margin-right: 1rem;
    }
  }
  @media screen and (min-width: 1024px) {
    padding: 0 3rem;
  }
}

.xps__list__par {
  width: 100%;
  margin: 3rem 0 1rem;
}

.xps__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (min-width: 1024px) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.xps__list__single {
  position: relative;
  flex: 1 1 auto;
  border-radius: 4px;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid lightgray;
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #dcdcdc;
  box-shadow: 0px 1px 2px 0px black;
  @media screen and (min-width: 1024px) {
    flex: 1 1 450px;
    margin: 2rem;
  }
  h4 {
    text-align: left;
    padding: 0 1rem;
  }
}

.xps__list__single--content {
  padding: 1rem;
  p {
    margin: 7px 0;
  }
}

.xps__list__single__content__button {
  position: absolute;
  right: 21px;
  top: 30px;
  padding: 7px 10px;
  border-radius: 4px;
  background: #FF5722;
  border: 1px solid #BF360C;
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-weight: 600;
  transition: background .3s linear, border .25s linear;
  &:hover {
    background: #d64717;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background: rgba(255,255,255,.75);
    border: 1px solid transparent;
  }
}
