.xps__list--wrapper {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    padding: 0 3rem;
  }
}

.dashboard--heading {
  @media screen and (min-width: 1024px) {
    padding: 0 3rem;
  }
}

.xps__list__par {
  width: 100%;
}

.xps__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (min-width: 1024px) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.xps__list__single {
  flex: 1 1 auto;
  border-radius: 4px;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid lightgray;
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #dcdcdc;
  box-shadow: 0px 1px 2px 0px black;
  @media screen and (min-width: 1024px) {
    flex: 1 1 450px;
    margin: 2rem;
  }
  h4 {
    text-align: center;
  }
}

.xps__list__single--content {
  padding: 1rem;
  p {
    margin: 7px 0;
  }
}

.xps__list__par {
}
