.xps__list--input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 3rem;
}

.xps__list__input {
  padding: 12px 15px;
  border-radius: 4px;
  flex: 0 1 350px;
  font-size: 1.5rem;
  &:focus {
    outline: none;
  }
}
